<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Chambres</title>
    <link th:replace="layout/default-layout-admin::link">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .table th {
            background-color: #6c757d; /* Gris moyen */
            color: white;
        }

        .table {
            border-color: #dee2e6; /* Gris clair */
        }

        .table-striped tbody tr:nth-of-type(odd) {
            background-color: #f8f9fa; /* Gris très clair */
        }

        .btn-primary {
            background-color: #6c757d; /* Gris moyen */
            border-color: #6c757d;
        }

        .btn-primary:hover {
            background-color: #5a6268; /* Gris foncé */
            border-color: #5a6268;
        }

        h1 {
            text-align: center;
            margin: 20px 0;
            color: #6c757d; /* Gris moyen */
        }
    </style>
    <script type="text/javascript">
        function submitForm() {
          document.getElementById("filterForm").submit();
        }
      </script>
</head>
<body th:replace="layout/default-layout-admin::body">
<div th:fragment="content">
    <div class="container">
        <h1>Liste des Chambres</h1>
        <!-- Boutons pour ajouter une chambre et gérer les filtres -->
        <div class="row mt-3 mb-4">
            <div class="col-4">
                <a href="/rooms/create" class="btn btn-primary">Ajouter une Chambre</a>
            </div>
            <div class="col-4">
                <p><strong>Sort by Age:</strong></p>
                <form th:action="@{/rooms/filter}" method="get" id="filterForm">
                  <label><input type="radio" name="sortByPrix" value="asc" th:checked="${sortByPrix=='asc'}"
                      onchange="submitForm()"> Trier par le prix bas </label>
                  <label><input type="radio" name="sortByPrix" value="desc" th:checked="${sortByPrix=='desc'}"
                      onchange="submitForm()"> Trier par le prix élevé</label>
                </form>
        </div>
        <!-- Tableau -->
        <table class="table table-hover table-striped" th:unless="${#lists.isEmpty(rooms)}">
            <thead class="table-dark">
            <tr>
                <th>N°</th>
                <th>Name</th>
                <th>Type</th>
                <th>Vue</th>
                <th>Capacité</th>
                <th>Prix par Nuit</th>
                <th>Status</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="room, state : ${rooms}" th:class="${state.even} ? 'table-light' : ''">
                <td th:text="${state.index + 1}"></td>
                <td th:text="${room.Name}"></td>
                <td th:text="${room.roomType}"></td>
                <td th:text="${room.view}"></td>
                <td th:text="${room.capacity}"></td>
                <td th:text="${room.pricePerNight} + ' €'"></td>
                <td th:text="${room.status}"></td>
                <td>
                    <img th:src="@{|/images/${room.images}|}" alt="Room Image" class="img-fluid" style="max-width: 100px;">
                </td>
                <td>
                    <div class="d-flex">
                        <form  th:action="@{/rooms/{roomId}/edit(roomId=${room.roomId})}" method="get" class="mr-2">
                            <button type="submit" class="btn btn-success btn-sm">Modifier</button>
                        </form>
                        <form th:action="@{/rooms/{roomId}/delete(roomId=${room.roomId})}" method="post" th:method="delete">
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette chambre ?')">Supprimer</button>
                        </form>
                        <form  th:action="@{/rooms}" method="get" class="mr-2">
                            <button type="submit" class="btn btn-success btn-sm">Reserver</button>
                        </form>
                        
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <!-- Message si aucune chambre n'est trouvée -->
        <div class="alert alert-warning" th:if="${#lists.isEmpty(rooms)}">
            Aucune chambre trouvée.
        </div>
        <div>
            <ul class="pagination pagination-sm">
              <li class="page-item" th:classappend="${currentPage==0?'disabled':''}">
                <a class="page-link" th:href="${sortByPrix==null}?@{|/rooms?page=${currentPage-1}|}:@{|/rooms/filter?sortByPrix=${sortByPrix}&page=${currentPage-1}|}">&laquo;</a>
              </li>
              <li th:each="index: ${#numbers.sequence(0,totalPages -1)}" class="page-item"    
                  th:classappend="${currentPage==index ?'active':''}">
                <a class="page-link"th:href="${sortByPrix==null}?@{|/rooms?page=${index}|}:@{|/rooms/filter?sortByPrix=${sortByPrix}&page=${index}|}" th:text="${index+1}"></a>
              </li>
             
              <li class="page-item"  th:classappend="${currentPage== totalPages -1?'disabled':''}">
                <a class="page-link" th:href="${sortByPrix==null}?@{|/rooms?page=${currentPage+1}|}:@{|/rooms/filter?sortByPrix=${sortByPrix}&page=${currentPage+1}|}">&raquo;</a>
              </li>
            </ul>
          </div>
    </div>
</div>
</body>
</html>
